<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Companies</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script language="JavaScript">
        function showform(dowhat) {
            /*
            * four sectionS: browse, insert, update, delete
            * this function sets one visible the others not
            */
            if (dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'update') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'delete') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            }
            else if (dowhat == 'all') {
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'block';
            }
            else { //by default display browse
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }
        function newCompany() { showform('insert'); }
        function updateCompany(id) { showform('update'); }
        function deleteCompany(id) { showform('delete'); }
        function browseCompanies() { showform('browse'); }
    </script>
</head>

<body onload="browseCompanies()">
    <header>
        <h1>Pharmacy Database (Ph.D)</h1>
    </header>
    <nav>
        <a href="index.j2">Home</a>
        <a href="companies.j2">Companies</a>
        <a href="drugs.j2">Drugs</a>
        <a href="patients.j2">Patients</a>
        <a href="prescriptions.j2">Prescriptions</a>
        <a href="frequencies.j2">Frequencies</a>
        <a href="routes.j2">Routes</a>
        <a href="companies_drugs.j2">Companies_Drugs</a>
    </nav>
    <main>
        <h2>Companies</h2>
        <section id="browse">
            <table border="1" cellpadding="5">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>total_drugs</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Pain Pain Go Away</td>
                    <td>2</td>
                    <td><a href="#" onClick="updateCompany('this.companyID')">Edit</a></td>
                    <td><a href="#" onclick="deleteCompany('this.companyID')">Delete</a></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td >Easy Sneezy</td>
                    <td>1</td>
                    <td><a href="#" onClick="updateCompany('this.companyID')">Edit</a></td>
                    <td><a href="#" onclick="deleteCompany('this.companyID')">Delete</a></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Legendary Bio</td>
                    <td>1</td>
                    <td><a href="#" onClick="updateCompany('this.companyID')">Edit</a></td>
                    <td><a href="#" onclick="deleteCompany('this.companyID')">Delete</a></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Meds 4 You</td>
                    <td>1</td>
                    <td><a href="#" onClick="updateCompany('this.companyID')">Edit</a></td>
                    <td><a href="#" onclick="deleteCompany('this.companyID')">Delete</a></td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Milead</td>
                    <td>0</td>
                    <td><a href="#" onClick="updateCompany('this.companyID')">Edit</a></td>
                    <td><a href="#" onclick="deleteCompany('this.companyID')">Delete</a></td>
                  </tr>
            </table>
            <button type ="button"><a href="#" onClick="newCompany()">Add New Company</a></button>
            <p>&nbsp;</p>
        </section> <!-- browse -->

        <section id="insert">
            <form method="POST" id="addCompany">
                <legend><strong>Add Company</strong></legend>
                <fieldset class="fields">
                    <label> name </label> <input type="text" name="name">
                </fieldset>
                <input class="btn" type="submit" id="addCompany" value="Add">
                <input class="btn" type="button" value="Cancel" onClick="browseCompanies()">
            </form>
        </section><!-- insert -->
        <p>&nbsp;</p>

        <section id="update">
            <form method="POST" id="UpdateCompany">
                <legend><strong>Update Company</strong></legend>
                <fieldset class="fields">
                    <input type="hidden" name="companyID" id="updatecompanyID" value="1">
                    <label> ID: </label> 1
                    <label> name </label> <input type="text" name="name" value="Pain Pain Go Away">
                </fieldset>
                <input class="btn" type="submit" id="UpdateSaveCompany" value="Save">
                <input class="btn" type="button" value="Cancel" onClick="browseCompanies()">
            </form>
        </section><!-- update -->

        <p>&nbsp;</p>

        <section id="delete" style="display: block">
            <form method="POST" id="deleteCompany">
                <legend><strong>Delete Company</strong></legend>
                <fieldset class="fields">
                    <p>Are you sure you wish to delete the following?</p>
                    <input type="hidden" name="companyID" id="deletecompanyID" value="1">
                    <label><strong>ID:</strong></label> 1
                    <label> <strong>Name</strong> </label> Pain Pain Go Away

                </fieldset>
                <input class="btn" type="submit" id="DeleteCompany" value="Delete">
                <input class="btn" type="button" value="Cancel" onClick="browseCompanies()">
            </form>
        </section><!-- delete -->
    </main>

</body>

</html>