<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Companies</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/main.css'>
</head>

<body>
    <header>
        <h1>Pharmacy Database (Ph.D)</h1>
    </header>
    <nav>
        <a href="/index.j2">Home</a>
        <a href="/companies.j2">Companies</a>
        <a href="/drugs.j2">Drugs</a>
        <a href="/patients.j2">Patients</a>
        <a href="/prescriptions.j2">Prescriptions</a>
        <a href="/frequencies.j2">Frequencies</a>
        <a href="/routes.j2">Routes</a>
        <a href="/companies_drugs.j2">Companies_Drugs</a>
    </nav>
    <main>
        <table border="1" cellpadding="5">
                <tr>
                    {% for key in data[0].keys() %}

                    <th>{{ key }}</th>

                    {% endfor %}
                </tr>

                {% for company in data %}
                <tr>
                    {% for key in company.keys() %}
                    <td>{{company[key]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            
        <form method="POST" action="/companies/edit/{{data[0].company_id}}" id="updateCompany">
            <legend><strong>Update Company</strong></legend>
            <fieldset class="fields">
                <input type="hidden" name="companyID" id="updatecompanyID" value="{{data[0].company_id}}">
                <label> Company Name </label> <input type="text" name="name" value="{{data[0].name}}" required>
            </fieldset>
            <input class="btn" type="submit" id="UpdateSaveCompany" name="updateCompany" value="Save">
            <input class="btn" type="button" value="Cancel" onClick="location.href='/companies.j2';">
        </form>
    </main>
</body>

</html>