<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Frequencies</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/main.css'>
    <script language="JavaScript">
        function showform(dowhat) {
            /*
            * four sectionS: browse, insert, update, delete
            * this function sets one visible the others not
            */
            if (dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'delete') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            }
            else if (dowhat == 'all') {
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('delete').style.display = 'block';
            }
            else { //by default display browse
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }
        function newFrequency() { showform('insert'); }
        function deleteFrequency(id) { showform('delete'); }
        function browseFrequencies() { showform('browse'); }
    </script>
</head>

<body onload="browseFrequencies()">
    <header>
        <h1>Pharmacy Database (Ph.D)</h1>
    </header>
    <nav>
        <a href="index.j2">Home</a>
        <a href="companies.j2">Companies</a>
        <a href="drugs.j2">Drugs</a>
        <a href="patients.j2">Patients</a>
        <a href="prescriptions.j2">Prescriptions</a>
        <a href="frequencies.j2">Frequencies</a>
        <a href="routes.j2">Routes</a>
        <a href="companies_drugs.j2">Companies_Drugs</a>
    </nav>
    <main>
        <h2>Frequencies</h2>
        <section id="browse">
            <table border="1" cellpadding="5">
                <tr>
                    {% for key in frequencies[0].keys() %}
                    <th>{{ key }}</th>
                    {%  endfor %}
                </tr>

                {% for frequency in frequencies %}
                <tr>
                    {% for key in frequency.keys() %}
                    <td>{{frequency[key]}}</td>
                    {% endfor %}
                    <td><a href="/frequencies/delete/{{frequency.frequency_id}}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
            <button type ="button"><a href="#" onClick="newFrequency()">Add New Frequency</a></button>
            <p>&nbsp;</p>
        </section> <!-- browse -->

        {# <section id="insert">
            <form method="POST" id="addFrequency">
                <legend><strong>Add Frequency</strong></legend>
                <fieldset class="fields">
                    <label> Description </label> <input type="text" name="description">
                </fieldset>
                <input class="btn" type="submit" name="addFrequency" id="addFrequency" value="Add">
                <input class="btn" type="button" value="Cancel" onClick="browseFrequencies()">
            </form>
        </section><!-- insert --> #}
        <p>&nbsp;</p>

        {# <section id="delete">
            <form method="POST" id="deleteFrequency">
                <legend><strong>Delete Frequency</strong></legend>
                <fieldset class="fields">
                    <p>Are you sure you wish to delete the following?</p>
                    <input type="hidden" name="frequencyID" id="deletefrequencyID" value="1">
                    <label><strong>ID:</strong></label> 1
                    <label> <strong>Description</strong> </label> Everyday
                </fieldset>
                <input class="btn" type="submit" id="DeleteFrequency" value="Delete">
                <input class="btn" type="button" value="Cancel" onClick="browseFrequencies()">
            </form>
        </section><!-- delete --> #}
    
    </main>

</body>

</html>