<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pharmacy Database</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <header>
        <h1>Pharmacy Database (Ph.D)</h1>
    </header>

    <nav>
        <a href="index.j2">Home</a>
        <a href="companies.j2">Companies</a>
        <a href="drugs.j2">Drugs</a>
        <a href="patients.j2">Patients</a>
        <a href="prescriptions.j2">Prescriptions</a>
        <a href="frequencies.j2">Frequencies</a>
        <a href="routes.j2">Routes</a>
        <a href="companies_drugs.j2">Companies_Drugs</a>
    </nav>

    <main>
        <section>
            <h2>Table of Contents</h2>
            <article>
                <h3><a href="companies.html">Companies</a></h3>
                    <p>
                        Company information can be found on this page.
                    </p>
            </article>
            <article>
                <h3><a href="drugs.html">Drugs</a></h3>
                    <p>
                        Drug information can be found on this page.
                    </p>
            </article>
            <article>
                <h3><a href="patients.html">Patients</a></h3>
                    <p>
                        Patient information can be found on this page.
                    </p>
            </article>
            <article>
                <h3><a href="prescriptions.html">Prescriptions</a></h3>
                    <p>
                        Prescription information can be found on this page.
                    </p>
            </article>
            <article>
                <h3><a href="frequencies.html">Frequencies</a></h3>
                    <p>
                        Frequency information can be found on this page.
                    </p>
            </article>
            <article>
                <h3><a href="routes.html">Routes</a></h3>
                    <p>
                        Route information can be found on this page.
                    </p>
            </article>
            <article>
                <h3><a href="companies_drugs.html">Companies_Drugs</a></h3>
                    <p>
                        Information about drugs and their manufacturing companies can be found on this page.
                    </p>
            </article>
        </section>
    </main>
</body>
</html>