<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Prescriptions</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/main.css'>
    <script language="JavaScript">
        function showform(dowhat) {
            /*
            * three sections: browse, insert, delete. no update
            * this function sets one visible the others not
            */
            if (dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'delete') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            }
            else if (dowhat == 'all') {
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('delete').style.display = 'block';
            }
            else { //by default display browse
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }
        function newPrescription() { showform('insert'); }
        function deletePrescription(id) { showform('delete'); }
        function browsePrescriptions() { showform('browse'); }
    </script>
</head>

<body onload="browsePrescriptions()">
    <header>
        <h1>Pharmacy Database (Ph.D)</h1>
    </header>
    <nav>
        <a href="index.j2">Home</a>
        <a href="companies.j2">Companies</a>
        <a href="drugs.j2">Drugs</a>
        <a href="patients.j2">Patients</a>
        <a href="prescriptions.j2">Prescriptions</a>
        <a href="frequencies.j2">Frequencies</a>
        <a href="routes.j2">Routes</a>
        <a href="companies_drugs.j2">Companies_Drugs</a>
    </nav>
    <main>
        <h2>Prescriptions</h2>
        <section id="browse">
            <table border="1" cellpadding="5">
                <tr>
                    {% for key in prescriptions[0].keys() %}

                    <th>{{ key }}</th>

                    {% endfor %}
                </tr>

                {% for prescription in prescriptions %}
                <tr>
                    {% for key in prescription.keys() %}
                    <td>{{prescription[key]}}</td>
                    {% endfor %}
                    <td><a href="/prescriptions/delete/{{prescription.prescription_id}}" onclick="return confirm('Are you sure you want to delete prescription ID: {{prescription.prescription_id}}?')">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
            <button type ="button"><a href="#" onClick="newPrescription()">Add New Prescription</a></button>
            <p>&nbsp;</p>
        </section> <!-- browse -->

        <section id="insert">
            <form method="POST" id="addPrescription">
                <legend><strong>Add Prescription</strong></legend>
                <fieldset class="fields">
                    <label> Drug </label>
                        <select name="drug_id" id="drug_id">
                            {% for drug in drugs %}
                            <option value="{{ drug['drug_id'] }}">{{ drug['name'] }}</option>
                            {% endfor %}
                        </select>
                    <label> Patient ID </label> <input type="number" name="patient_id">
                    <label> Start Date </label> <input type="date" name="start_date">
                    <label> End Date </label> <input type="date" name="end_date">
                    <label> Frequency </label> 
                        <select name="prescription_frequency" id="prescription_frequency">
                            {% for frequency in frequencies %}
                            <option value="{{ frequency['frequency_id'] }}">{{ frequency['description'] }}</option>
                            {% endfor %}
                        </select>
                    <label> Route </label>
                        <select name="prescription_route" id="prescription_frequency">
                            {% for route in routes %}
                            <option value="{{ route['route_id'] }}">{{ route['description'] }}</option>
                            {% endfor %}
                        </select>
                    <label> Description </label> <input type="text" name="prescription_description">
                </fieldset>
                <input class="btn" type="submit" id="addPrescription" name="addPrescription" value="Add">
                <input class="btn" type="button" value="Cancel" onClick="browsePrescriptions()">
            </form>
        </section><!-- insert -->
        <p>&nbsp;</p>

        {# <section id="delete" style="display: block">
            <form method="POST" id="deletePrescription">
                <legend><strong>Delete Prescription</strong></legend>
                <fieldset class="fields">
                    <p>Are you sure you wish to delete the following?</p>
                    <input type="hidden" name="prescriptionID" id="deleteprescriptionID" value="1">
                    <label><strong>ID:</strong></label> 1
                </fieldset>
                <input class="btn" type="submit" id="DeletePrescription" value="Delete">
                <input class="btn" type="button" value="Cancel" onClick="browsePrescriptions()">
            </form>
        </section><!-- delete --> #}
    </main>

</body>

</html>