<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Prescriptions</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/main.css'>
    <script language="JavaScript">
        function showform(dowhat) {
            /*
            * four sectionS: browse, insert, update, delete
            * this function sets one visible the others not
            */
            if (dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'update') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'delete') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            }
            else if (dowhat == 'all') {
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'block';
            }
            else { //by default display browse
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }
        function newPrescription() { showform('insert'); }
        function updatePrescription(id) { showform('update'); }
        function deletePrescription(id) { showform('delete'); }
        function browsePrescriptions() { showform('browse'); }
    </script>
</head>

<body onload="browsePrescriptions()">
    <header>
        <h1>Pharmacy Database (Ph.D)</h1>
    </header>
    <nav>
        <a href="index.j2">Home</a>
        <a href="companies.j2">Companies</a>
        <a href="drugs.j2">Drugs</a>
        <a href="patients.j2">Patients</a>
        <a href="prescriptions.j2">Prescriptions</a>
        <a href="frequencies.j2">Frequencies</a>
        <a href="routes.j2">Routes</a>
        <a href="companies_drugs.j2">Companies_Drugs</a>
    </nav>
    <main>
        <h2>Prescriptions</h2>
        <section id="browse">
            <table border="1" cellpadding="5">
                <tr>
                    <th>id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Drug</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Frequency</th>
                    <th>Route</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Peter</td>
                    <td>Parker</td>
                    <td>enoxaparin</td>
                    <td>2022-01-25</td>
                    <td>2022-02-21</td>
                    <td>Everyday</td>
                    <td>Intramuscular</td>
                    <td>To prevent blood clots</td>
                    <td><a href="#" onClick="updatePrescription('this.prescriptionID')">Edit</a></td>
                    <td><a href="#" onclick="deletePrescription('this.prescriptionID')">Delete</a></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Peter</td>
                    <td>Parker</td>
                    <td>diclofenac</td>
                    <td>2022-02-07</td>
                    <td>2022-03-02</td>
                    <td>Every other day</td>
                    <td>Topical</td>
                    <td>For arthritis</td>
                    <td><a href="#" onClick="updatePrescription('this.prescriptionID')">Edit</a></td>
                    <td><a href="#" onclick="deletePrescription('this.prescriptionID')">Delete</a></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Tony</td>
                    <td>Stark</td>
                    <td>acetaminophen</td>
                    <td>2022-02-11</td>
                    <td>2022-05-25</td>
                    <td>As needed</td>
                    <td>Oral</td>
                    <td>For headaches when Spiderman gets in trouble</td>
                    <td><a href="#" onClick="updatePrescription('this.prescriptionID')">Edit</a></td>
                    <td><a href="#" onclick="deletePrescription('this.prescriptionID')">Delete</a></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Barry</td>
                    <td>Allen</td>
                    <td>enoxaparin</td>
                    <td>2022-09-20</td>
                    <td>2022-10-03</td>
                    <td>Every other day</td>
                    <td>Intramuscular</td>
                    <td>To prevent blood clots</td>
                    <td><a href="#" onClick="updatePrescription('this.prescriptionID')">Edit</a></td>
                    <td><a href="#" onclick="deletePrescription('this.prescriptionID')">Delete</a></td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Lucy</td>
                    <td>Luck</td>
                    <td>fluticasone</td>
                    <td>2023-04-06</td>
                    <td>2022-05-03</td>
                    <td>As needed</td>
                    <td>Nasal</td>
                    <td>For allergies</td>
                    <td><a href="#" onClick="updatePrescription('this.prescriptionID')">Edit</a></td>
                    <td><a href="#" onclick="deletePrescription('this.prescriptionID')">Delete</a></td>
                  </tr>
            </table>
            <button type ="button"><a href="#" onClick="newPrescription()">Add New Prescription</a></button>
            <p>&nbsp;</p>
        </section> <!-- browse -->

        <section id="insert">
            <form method="POST" id="addPrescription">
                <legend><strong>Add Prescription</strong></legend>
                <fieldset class="fields">
                    <label> Patient ID </label> <input type="number" name="patient_id">
                    <label> Start Date </label> <input type="date" name="start_date">
                    <label> End Date </label> <input type="date" name="end_date">
                    <label> Frequency </label> 
                        <select name="prescription_frequency" id="prescription_frequency">
                            <option>Everyday</option>
                            <option>Every other day</option>
                            <option>Every 8 hours</option>
                            <option>Every 12 hours</option>
                            <option>As needed</option>
                        </select>
                    <label> Route </label>
                        <select name="prescription_route" id="prescription_frequency">
                            <option>Oral</option>
                            <option>Intravenous</option>
                            <option>Intramuscular</option>
                            <option>Ocular</option>
                            <option>Otic</option>
                            <option>Nasal</option>
                            <option>Topical</option>
                        </select>
                    <label> Description </label> <input type="text" name="prescription_description">
                </fieldset>
                <input class="btn" type="submit" id="addPrescription" value="Add">
                <input class="btn" type="button" value="Cancel" onClick="browsePrescriptions()">
            </form>
        </section><!-- insert -->
        <p>&nbsp;</p>

        <section id="update">
            <form method="POST" id="UpdatePrescription">
                <legend><strong>Update Prescription</strong></legend>
                <fieldset class="fields">
                    <input type="hidden" name="prescriptionID" id="updateprescriptionID" value="1">
                    <label> ID: </label> 1
                    <label> name </label> <input type="text" name="name">
                </fieldset>
                <input class="btn" type="submit" id="UpdateSavePrescription" value="Save">
                <input class="btn" type="button" value="Cancel" onClick="browsePrescriptions()">
            </form>
        </section><!-- update -->

        <p>&nbsp;</p>

        <section id="delete" style="display: block">
            <form method="POST" id="deletePrescription">
                <legend><strong>Delete Prescription</strong></legend>
                <fieldset class="fields">
                    <p>Are you sure you wish to delete the following?</p>
                    <input type="hidden" name="prescriptionID" id="deleteprescriptionID" value="1">
                    <label><strong>ID:</strong></label> 1
                </fieldset>
                <input class="btn" type="submit" id="DeletePrescription" value="Delete">
                <input class="btn" type="button" value="Cancel" onClick="browsePrescriptions()">
            </form>
        </section><!-- delete -->
    </main>

</body>

</html>